body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.web__container {
  width: 1280px;
  /* width matched to my computer monitor */
}
.web__header {
  width: 1322px;
  height: 91px;
  right: 59px;
  top: 0px;
}
.web__header-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
}
.web__header-left {
  display: flex;
  align-items: center;
  gap: 87px;
}
.web__header-logo {
}
.web__header-logo-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  text-decoration: none;
}
.web__header-menu {
}
.web__header-menu-list {
  display: flex;
  list-style: none;
  gap: 21px;
}
.web__header-menu-item {
}
.web__header-menu-link {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  gap: 240px;
}
.web__header-right {
}
.web__header-auth-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #96bb7c;
  text-decoration: none;
  padding-right: 45px;
}
.web__header-btn {
  background-color: #96bb7c;
  border: 1px solid #96bb7c;
  border-radius: 5px;
  padding: 15px, 25px, 15px, 25px;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  width: 111px;
  height: 52px;
}
.web__header-btn--primary {
  text-transform: uppercase;
}
.web__header-content {
  height: 682px;
  width: 1280px;
  /* width matched to my computer monitor */
  left: -2px;
  top: 95px;
  border-radius: 0px;
}
.web__header-content-text {
}
.web__header-content-info {
}
.web__header-content-actions {
}
.web__header-btn--transparent {
  background-color: transparent;
  color: #96bb7c;
}
.web__header-content-jpg {
}
