.web__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  letter-spacing: 0.1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  margin: 0px;
}

/* 1 SECTION - NAVIGATION */
.web__header {
  width: 1440px;
  height: 777px;
}

.web__header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
}

.web__header-left {
  display: flex;
  align-items: center;
  gap: 87px;
}

.web__header-logo-link {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252b42;
  text-decoration: none;
}

.web__header-menu-list {
  display: flex;
  list-style: none;
  gap: 21px;
}

.web__header-menu-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #737373;
  gap: 240px;
}

.web__header-auth-link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #96bb7c;
  text-decoration: none;
  padding-right: 45px;
}

.web__header-btn {
  background-color: #96bb7c;
  border: 1px solid #96bb7c;
  border-radius: 5px;
  padding: 15px, 25px, 15px, 25px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  width: 133px;
  height: 52px;
}

.web__header-btn--primary {
  text-transform: uppercase;
  width: 111px;
}

/* 1 SECTION - CONTENT */
.web__header-content {
  display: flex;
  height: 682px;
  width: 1439px;
  left: -2px;
}

.web__header-content-text {
  padding-top: 148px;
  padding-left: 130px;
  width: 573px;
  height: 386px;
}

.web__header-content-info {
  display: flex;
  flex-direction: column;
}

.web__header-content-info h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #96bb7c;
  margin-bottom: 30px;
}
.web__header-content-info h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 30px;
}

.web__header-content-info h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 458px;
  margin-bottom: 30px;
}

.web__header-btn--transparent {
  background-color: transparent;
  color: #96bb7c;
  width: 165px;
}

.web__header-content-jpg {
  display: flex;
  height: 684px;
  width: auto;
}

/* 2 SECTION - TEXT */
.web__video {
  width: 1440px;
  height: 878px;
  display: flex;
  flex-direction: column;
}

.web__video-text {
  text-align: center;
  height: 116px;
  margin-top: 160px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.web__video-text h6 {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  color: #96bb7c;
}

.web__video-text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
  color: #252b42;
}

.web__video-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

/* 2 SECTION - VIDEO */
.web__video-card {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.web__video-card-jpg {
  border: 0px transparent;
  border-radius: 20px;
}

/*dodaj div poniżej z button/
.web__video-card-button {
  width: 92.6px;
  height: 92.6px;
  background: #96bb7c;
  border-radius: 73.6px;
}

/* 3 SECTION - JPG */
.web__courses {
  width: 1440px;
  height: 761px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.web__courses-jpg {
  height: 440.6px;
  width: 376.9px;
}

/* 3 SECTION - TEXT */
.web__courses-text {
  height: 296px;
  width: 381px;
}

.web__courses-text-line {
  background-color: #e74040;
  width: 94px;
  height: 7px;
  margin-bottom: 35px;
}

.web__courses-text h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #252b42;
  margin-bottom: 35px;
  width: 268px;
}

.web__courses-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  margin-bottom: 35px;
  width: 345px;
}

.web__courses-text h6 {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #96bb7c;
}

/* 4 SECTION - TEXT */
.web__client-matters {
  width: 1440px;
  height: 1236px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.web__client-matters-text {
  text-align: center;
  height: 134px;
  width: 691px;
  margin-top: 160px;
  margin-left: 374px;
  margin-bottom: 80px;
}

.web__client-matters-text h6 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  color: #96bb7c;
  margin-bottom: 10px;
}

.web__client-matters-text h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #252b42;
  margin-bottom: 10px;
}

.web__client-matters-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
}

/* 4 SECTION - SERVICES */
.web__client-matters-box {
  height: 666px;
  width: 710px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 365px;
}

.web__client-matters-box-column {
  height: 646px;
  width: 348px;
  display: flex;
  flex-direction: column;
}

.web__client-matters-box-column-photo {
  height: 300px;
  width: 348px;
  display: flex;
  justify-content: flex-start;
}

.web__client-matters-box-column-photo img {
  height: 300px;
  width: 348px;
}

.web__client-matters-box-column-photo-tag {
  background-color: #e74040;
  height: 24px;
  width: 51px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 3px;
  padding: 0px 10px 0px 10px;
}

.web__client-matters-box-column-photo-tag h6 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.web__client-matters-box-column-text {
  height: 346px;
  width: 348px;
}

.web__client-matters-box-column-text-frame {
  height: 26px;
  width: 298px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.web__client-matters-box-column-text-frame a {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #96bb7c;
  text-decoration: none;
}

.web__client-matters-box-column-text-frame span {
  height: 26px;
  width: 50px;
  border-radius: 20px;
  background: #2d4059;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.web__client-matters-box-column-text-frame span h1 {
  color: #ffce31;
}

.web__client-matters-box-column-text h5 {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #252b42;
  margin-left: 25px;
  margin-bottom: 10px;
}

.web__client-matters-box-column-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #737373;
  margin-left: 25px;
  margin-bottom: 10px;
}

.web__client-matters-box-column-text-sale {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: right;
  color: #737373;
  width: 83px;
  margin-left: 25px;
  margin-bottom: 10px;
}

.web__client-matters-box-column-text-sale span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #737373;
}

.web__client-matters-box-column-text-price {
  font-size: 16px;
  font-weight: 700;
  color: #bdbdbd;
  margin-bottom: 10px;
  margin-left: 25px;
  gap: 5px;
}

.web__client-matters-box-column-text-price span {
  color: #ffab71;
}

.web__client-matters-box-column-text-button {
  margin-left: 25px;
  border: 1px solid #96bb7c;
  border-radius: 37px;
  width: 117px;
  height: 28px;
}

.web__client-matters-box-column-text-button h6 {
  color: #96bb7c;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.web__client-matters-box-column-text-button span {
  font-size: 20px;
}

/* 5 SECTION - TEXT */
.web__subscription {
  width: 1440px;
  height: 594px;
  background-color: #2d4059;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.web__subscription-text {
  height: 116px;
  width: 463px;
  margin-left: 488.5px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.web__subscription-text h6 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #96bb7c;
  padding-bottom: 10px;
}
.web__subscription-text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 10px;
  color: #fff;
}

.web__subscription-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #fff;
}

.web__subscription-form {
  position: relative;
  width: 688px;
  height: 58px;
  margin-left: 376px;
  border: 1px #e6e6e6;
  border-radius: 5px;
}

.web__subscription-form input {
  border: none;
  box-sizing: border-box;
  padding: 15px 117px 15px 20px;
  width: 688px;
  height: 58px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #737373;
}

.web__subscription-form button {
  background-color: #96bb7c;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #e6e6e6;
  color: #ffffff;
  height: 58px;
  width: 117px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: center;
  position: absolute;
  right: 0;
  padding: 0 25px;
}

/* FOOTER */
.web__footer {
  width: 1440px;
  height: 272px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
}

.web__footer-box {
  height: 270px;
  width: 1050px;
  left: 195px;
  top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.web__footer-column {
  height: 170px;
  width: 244px;
  left: 267px;
  top: 0px;
}

.web__footer-column h5 {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #252b42;
  padding-bottom: 20px;
}

.web__footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  gap: 10px;
}

.web__footer ul li a {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  gap: 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #737373;
}
